include ../_partials/absolvent-thumb.pug

- let index = 0

.container(style="overflow: hidden")
  h3 Komerční sféra
  - index = 0
  each item in absolventi

    if (item.category === 'Komerční sféra')
      - index = index + 1
      +absolventThumb(item, index)


.container(style="overflow: hidden")
  h3 Akademická sféra
  - index = 0
  each item in absolventi

    if (item.category === 'Akademická sféra')
      - index = index + 1
      +absolventThumb(item, index)


.container(style="overflow: hidden")
  h3 Veřejná a státní správa
  - index = 0
  each item in absolventi

    if (item.category === 'Veřejná a státní správa')
      - index = index + 1
      +absolventThumb(item, index)


.container(style="overflow: hidden")
  h3 Kulturní instituce a média
  - index = 0
  each item in absolventi

    if (item.category === 'Kulturní instituce a média')
      - index = index + 1
      +absolventThumb(item, index)



